<div class="col-md-8 offset-md-1">
 <div class="row">
<h1>Book　detail</h1>
<table class="table table-hover table-inverse">
 <thead>
 <tr>
<% @books.each do |book| %>
<th>title:<%=link_to(book.title ,user_path(current_user.id)) %></th>

<th>opinion:<%= book.body %> </th>

<th><%=link_to("Edit",edit_book_path(book.id)) %></th>


<th><%=link_to "Delete" ,book_path(book.id), method: :delete %></th>


  <% end %>
 </tr>
 </thead>
 </div>
</div>
</main>