
<div class="col-md-8 offset-md-1">
<h2>Book　detail</h2>

<table class="table">
 <thead>
  <tr>
  <th>title</th>
  <%= @book_show.title %>
  <th>opinion</th>
  <%= @book_show.body %>
  <%=link_to("Edit",edit_book_path(@book_show.id)) %>

  <%=link_to "Delete" ,book_path(@book_show.id), method: :delete %>
  </tr>
 </thead>
</table>

<% end %>

</div>


