body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

div {
    display: block;
}

@media (min-width: 768px){
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
 }
}
  
.col-md-3{ 
  position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .img {
    vertical-align: middle;
    border-style: none;
    width:63px;
    height:63px;
}

.table{
  border-collapse: collapse;
  display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th{
  text-align: -webkit-match-parent;
  display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

form {
    display: block;
    margin-top: 0em;
}